# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Virtual environments
.venv/
venv/

# Environment
.env

# Testing / Coverage
htmlcov/
.coverage
.coverage.*
.pytest_cache/

# IDE
.vscode/
.idea/

# Build
dist/
build/
*.egg

*.md